<style>
    .search-btn{
        background-color: #fe424d;
        color:#ffffff;
        border-radius: 25px;
        padding:0 1rem 0 1rem;
    }
    .search-btn:hover{
        background-color: #fe424d;
        color:#ffffff;
    }
    .search-btn i{
        display: inline;
        margin-right:0.5rem;
    }
    .search-input{
        border-radius: 25px;
       padding:0.5rem 3rem 0.5rem 3rem;
      font-size:1rem;
    }
<<<<<<< HEAD
    @media screen and (max-width: 768px){
        .navbar-media{
            height: auto;
        }
        .navbar-explore-hidden{
            display: none;
        }
        #navbarNavAltMarkup .form-media form{
            margin-top: 5px;
            gap:10px;
            align-items: center;
            justify-content:space-between;
        }
        #navbarNavAltMarkup .form-media .search-input{
            text-align: center;
            margin: 0 auto;
            font-size: 13px;
        }
        #navbarNavAltMarkup .form-media .search-btn{
            padding:5px 15px;
            text-align: center;
            font-size: 13px;
        }
        #navbarNavAltMarkup .link-media .nav-link:hover{
            color:orangered!important;
        }
    }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top navbar-media">
=======
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
>>>>>>> 21bac896e0361c20a24e6c3ebee173b60ea5ae16
    <div class="container-fluid">
        <a class="navbar-brand " href="/listings"><i class="fa-solid fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<<<<<<< HEAD
            <div class="navbar-nav navbar-explore-hidden">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="navbar-nav ms-auto form-media">
=======
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="navbar-nav ms-auto">
>>>>>>> 21bac896e0361c20a24e6c3ebee173b60ea5ae16
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search destination" >
                    <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>
<<<<<<< HEAD
            <div class="navbar-nav ms-auto link-media">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if (currentUser) { %>
                    <a class="nav-link" href="/logout"><strong>Log Out</strong></a>
                <% } else { %>
                    <a class="nav-link" href="/signup"><strong>Sign up</strong></a>
                    <a class="nav-link" href="/login"><strong>Log in</strong></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

=======
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <%if(currentUser){%>
                    <a class="nav-link" href="/logout"><strong>Log Out</strong></a>
                 <% }%>
                 <%if(!currentUser){%>
                        <a class="nav-link" href="/signup"><strong>Sign up</strong></a>
                        <a class="nav-link" href="/login"><strong>Log in</strong></a>
                 <% }%>
            </div>
        </div>
    </div>
</nav>
>>>>>>> 21bac896e0361c20a24e6c3ebee173b60ea5ae16
