<% layout("/layouts/boilerplate")%>
<div class="row mt-4">
    <div class="alert alert-danger d-flex align-items-center offset-3 col-6" role="alert">
        <div>
           <p class="alert-heading"> <i class="fa-solid fa-triangle-exclamation me-3"></i><%= err.message %></p>
<!--            <p><%=err.stack%></p>-->
        </div>
    <div>
</div>